@font-face {
  font-family: 'Mario';
  src: url('./assets/Super\ Mario\ Bros.\ NES.ttf') format('truetype');
}

body {
  background-color: black;
}

#game {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

#display {
  display: flex;
  justify-content: center;
  align-items: stretch;

  /* Need to set to hidden if using resize observer
  because otherwise scrollbars may appear and cause
  a resize observer error because the observed
  element got resized again during notification.
  (error: ResizeObserver loop completed with undelivered notifications)
  https://github.com/juggle/resize-observer/issues/103 */
  /* overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center; */
}

#display>canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

button {
  background-color: #eee;
  border-radius: 7px;
}
button:hover {
  background-color: #ddd;
}

button.selected {
  background-color: #afb;
  border-color: #afb;
}
button.selected:hover {
  background-color: #aeb;
}

#volume {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 7px;
  backdrop-filter: blur(4px);
  background-color: rgba(82, 68, 204, 0.281);
  display: grid;
  padding: 5px;
  gap: 5px;
  display: none;
}

#volume>label {
  display: flex;
  color: white;
  font-family: "Mario";
  align-items: center;
  justify-content: space-between;
}

#fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  margin: 8px;
  backdrop-filter: blur(4px);
  background-color: rgba(82, 68, 204, 0.281);
  border-radius: 7px;
  display: grid;
  font-size: 40px;
  font-weight: bolder;
  border: none;
  line-height: 0;
  display: none;
}

#fullscreen {
  fill: white;
  stroke: white;
}